* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
    text-decoration: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inria+Sans:700&display=swap);
a{
    color: inherit;
}

button{
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

body{
    font-family: "Montserrat", sans-serif;
    
}


.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

[class*="__container"]{
    max-width: 62.5rem;               /*обмежуючий контейнер (ширина + відступи зліва та справа)*/
    padding-left: .9375rem;          /*відступи аби контент не зіштовхувавася з границями*/
    padding-right: .9375rem;
    margin: 0 auto;
}

:root {
    --light: #ffffff;
    --dark:  rgb(57, 47, 47);
    --back:  rgb(78, 73, 73);
  }



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 500;
    font-size: 1.25rem;
    flex: 0 1 auto;
}
.header__container {
    padding: 1.875rem .9375rem;
    
    
}
.header__menu {
    
}
.menu {
    
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    max-width: 25rem;
    margin-left: auto;
    margin-right: 0;
}
.menu__item {
}


.page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--back);
}
.page__banner {
    flex: 1 1 auto;
    
}
.banner {
    
}
.banner__container {
    text-align: center;
    color: var(--light);
   
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.banner__title {
    font-size: 2.8125rem;
    padding-bottom: 30px;
}
.banner__stack {
    font-size: 1.5625rem;
}


.red{
    background-color: red;
}
